<div class="container">
    <h1>My First Bootstrap Page</h1>
    <p>This is some text.</p>
  </div>
  
  <div class="container p-3 my-3 border"></div>
  
  <div class="container p-3 my-3 bg-dark text-white"></div>
  
  <div class="container p-3 my-3 bg-primary text-white"></div>
  
  <div class="container-sm">.container-sm</div>
  <div class="container-md">.container-md</div>
  <div class="container-lg">.container-lg</div>
  <div class="container-xl">.container-xl</div>
  
  <div class="row azul">
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
  </div>
  
  
  <div class="row azul">
    <div class="col-sm-3">.col-sm-3</div>
    <div class="col-sm-3">.col-sm-3</div>
    <div class="col-sm-3">.col-sm-3</div>
    <div class="col-sm-3">.col-sm-3</div>
  </div>
  
  <div class="row azul">
    <div class="col-sm-4">.col-sm-4</div>
    <div class="col-sm-8">.col-sm-8</div>
  </div>
  
  <div class="jumbotron">
    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
  </div>
  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Bootstrap Tutorial</h1>
      <p>Bootstrap is the most popular HTML, CSS...</p>
    </div>
  </div>
  
  <div class="container">
    <h2>Borders</h2>
    <p>Round the corner of an element with the rounded classes:</p> 
    <span class="rounded-sm">dasdsa</span>
    <span class="rounded">dasdasds</span>
    <span class="rounded-lg">dasdasds</span>
    <span class="rounded-top">dasdasds</span>
    <span class="rounded-right">dasdasds</span>
    <span class="rounded-bottom">dasdasds</span>
    <span class="rounded-left">dasdasds</span>
    <span class="rounded-circle">dasdasds</span>
    <span class="rounded-0">dasdasds</span>
  </div>
  
  
  